In [2]:
import pandas as pd
olympic_data=pd.read_csv("https://raw.githubusercontent.com/svkarthik86/Advance-Python-Numpy/main/olympics.csv",skiprows=4)

In [3]:
olympic_data.index.values

array([    0,     1,     2, ..., 29213, 29214, 29215], dtype=int64)

In [6]:
olympic_data.columns.values

array(['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'NOC',
       'Gender', 'Event', 'Event_gender', 'Medal'], dtype=object)

In [8]:
olympic_data.index.hasnans

False

In [9]:
olympic_data.index.has_duplicates

False

In [10]:
olympic_data.columns.has_duplicates

False

In [12]:
olympic_data.index.nbytes

128

In [13]:
olympic_data.columns.nbytes

80

In [14]:
url="https://raw.githubusercontent.com/svkarthik86/Advanced-python/main/subset-covid-data.csv"
covid_data=pd.read_csv(url)
covid_data.head(3)

,country,continent,date,day,month,year,cases,deaths,country_code,population
0,Afghanistan,Asia,2020-04-12,12,4,2020,34,3,AFG,37172386.0
1,Albania,Europe,2020-04-12,12,4,2020,17,0,ALB,2866376.0
2,Algeria,Africa,2020-04-12,12,4,2020,64,19,DZA,42228429.0