In [11]:
import pandas as pd
url="https://docs.google.com/spreadsheets/d/1zMSyXLQMHRuEpagVDYi9SPl3FD3AKGTeKoidOlIEIo4/edit#gid=1191179893"
data_file = url.replace('/edit#gid=', '/export?format=csv&gid=')
std_adapt=pd.read_csv(data_file)
std_adapt

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,03-Jun,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,01-Mar,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,01-Mar,No,Mobile,Moderate
3,Girl,Nov-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,01-Mar,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,Girl,16-20,College,Non Government,No,Yes,Low,Mid,Wifi,4G,01-Mar,No,Mobile,Low
1201,Girl,16-20,College,Non Government,No,No,High,Mid,Wifi,4G,03-Jun,No,Mobile,Moderate
1202,Boy,Nov-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,01-Mar,No,Mobile,Moderate
1203,Girl,16-20,College,Non Government,No,No,Low,Mid,Wifi,4G,01-Mar,No,Mobile,Low
1204,Girl,Nov-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,01-Mar,No,Mobile,Moderate

In [12]:
json_data=pd.read_json('https://raw.githubusercontent.com/svkarthik86/Advance-Python-Numpy/main/countries.json')
json_data

,id,name,iso3,iso2,numeric_code,phone_code,capital,currency,currency_name,currency_symbol,tld,native,region,subregion,timezones,translations,latitude,longitude,emoji,emojiU
0,1,Afghanistan,AFG,AF,4,93,Kabul,AFN,Afghan afghani,ÿã,.af,ÿßŸÅÿ∫ÿßŸÜÿ≥ÿ™ÿßŸÜ,Asia,Southern Asia,"[{'zoneName': 'Asia/Kabul', 'gmtOffset': 16200...","{'kr': 'ÏïÑÌîÑÍ∞ÄÎãàÏä§ÌÉÑ', 'br': 'Afeganist√£o', 'pt': 'A...",33.000000,65.0,üá¶üá´,U+1F1E6 U+1F1EB
1,2,Aland Islands,ALA,AX,248,+358-18,Mariehamn,EUR,Euro,‚Ç¨,.ax,√Öland,Europe,Northern Europe,"[{'zoneName': 'Europe/Mariehamn', 'gmtOffset':...","{'kr': 'Ïò¨ÎûÄÎìú Ï†úÎèÑ', 'br': 'Ilhas de Aland', 'pt':...",60.116667,19.9,üá¶üáΩ,U+1F1E6 U+1F1FD
2,3,Albania,ALB,AL,8,355,Tirana,ALL,Albanian lek,Lek,.al,Shqip√´ria,Europe,Southern Europe,"[{'zoneName': 'Europe/Tirane', 'gmtOffset': 36...","{'kr': 'ÏïåÎ∞îÎãàÏïÑ', 'br': 'Alb√¢nia', 'pt': 'Alb√¢nia...",41.000000,20.0,üá¶üá±,U+1F1E6 U+1F1F1
3,4,Algeria,DZA,DZ,12,213,Algiers,DZD,Algerian dinar,ÿØÿ¨,.dz,ÿßŸÑÿ¨ÿ≤ÿßÿ¶ÿ±,Africa,Northern Africa,"[{'zoneName': 'Africa/Algiers', 'gmtOffset': 3...","{'kr': 'ÏïåÏ†úÎ¶¨', 'br': 'Arg√©lia', 'pt': 'Arg√©lia'...",28.000000,3.0,üá©üáø,U+1F1E9 U+1F1FF
4,5,American Samoa,ASM,AS,16,+1-684,Pago Pago,USD,US Dollar,$,.as,American Samoa,Oceania,Polynesia,"[{'zoneName': 'Pacific/Pago_Pago', 'gmtOffset'...","{'kr': 'ÏïÑÎ©îÎ¶¨Ïπ∏ÏÇ¨Î™®ÏïÑ', 'br': 'Samoa Americana', 'pt...",-14.333333,-170.0,üá¶üá∏,U+1F1E6 U+1F1F8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,243,Wallis And Futuna Islands,WLF,WF,876,681,Mata Utu,XPF,CFP franc,‚Ç£,.wf,Wallis et Futuna,Oceania,Polynesia,"[{'zoneName': 'Pacific/Wallis', 'gmtOffset': 4...","{'kr': 'ÏôàÎ¶¨Ïä§ Ìë∏Ìà¨ÎÇò', 'br': 'Wallis e Futuna', 'pt...",-13.300000,-176.2,üáºüá´,U+1F1FC U+1F1EB
246,244,Western Sahara,ESH,EH,732,212,El-Aaiun,MAD,Moroccan Dirham,MAD,.eh,ÿßŸÑÿµÿ≠ÿ±ÿßÿ° ÿßŸÑÿ∫ÿ±ÿ®Ÿäÿ©,Africa,Northern Africa,"[{'zoneName': 'Africa/El_Aaiun', 'gmtOffset': ...","{'kr': 'ÏÑúÏÇ¨ÌïòÎùº', 'br': 'Saara Ocidental', 'pt': ...",24.500000,-13.0,üá™üá≠,U+1F1EA U+1F1ED
247,245,Yemen,YEM,YE,887,967,Sanaa,YER,Yemeni rial,Ô∑º,.ye,ÿßŸÑŸäŸéŸÖŸéŸÜ,Asia,Western Asia,"[{'zoneName': 'Asia/Aden', 'gmtOffset': 10800,...","{'kr': 'ÏòàÎ©ò', 'br': 'I√™men', 'pt': 'I√©men', 'nl...",15.000000,48.0,üáæüá™,U+1F1FE U+1F1EA
248,246,Zambia,ZMB,ZM,894,260,Lusaka,ZMW,Zambian kwacha,ZK,.zm,Zambia,Africa,Eastern Africa,"[{'zoneName': 'Africa/Lusaka', 'gmtOffset': 72...","{'kr': 'Ïû†ÎπÑÏïÑ', 'br': 'Z√¢mbia', 'pt': 'Z√¢mbia', ...",-15.000000,30.0,üáøüá≤,U+1F1FF U+1F1F2
249,247,Zimbabwe,ZWE,ZW,716,263,Harare,ZWL,Zimbabwe Dollar,$,.zw,Zimbabwe,Africa,Eastern Africa,"[{'zoneName': 'Africa/Harare', 'gmtOffset': 72...","{'kr': 'ÏßêÎ∞îÎ∏åÏõ®', 'br': 'Zimbabwe', 'pt': 'Zimbab...",-20.000000,30.0,üáøüáº,U+1F1FF U+1F1FC

In [13]:
import pandas as pd
olympic_data=pd.read_csv("https://raw.githubusercontent.com/svkarthik86/Advanced-python/main/olympics.csv",skiprows=4)
olympic_data

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [19]:
olympic_data.loc[:,'NOC']

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
        ...
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [22]:
print(olympic_data.NOC)

0        HUN
1        AUT
2        GRE
3        GRE
4        GRE
        ...
29211    GER
29212    LTU
29213    ARM
29214    CUB
29215    RUS
Name: NOC, Length: 29216, dtype: object

In [23]:
print(type(olympic_data.NOC))

<class 'pandas.core.series.Series'>

In [28]:
k=olympic_data.loc[:,['Edition','City','Athlete','Medal']]
k

       Edition     City               Athlete   Medal
0         1896   Athens         HAJOS, Alfred    Gold
1         1896   Athens      HERSCHMANN, Otto  Silver
2         1896   Athens     DRIVAS, Dimitrios  Bronze
3         1896   Athens    MALOKINIS, Ioannis    Gold
4         1896   Athens    CHASAPIS, Spiridon  Silver
...        ...      ...                   ...     ...
29211     2008  Beijing        ENGLICH, Mirko  Silver
29212     2008  Beijing  MIZGAITIS, Mindaugas  Bronze
29213     2008  Beijing       PATRIKEEV, Yuri  Bronze
29214     2008  Beijing         LOPEZ, Mijain    Gold
29215     2008  Beijing        BAROEV, Khasan  Silver

[29216 rows x 4 columns]

In [29]:
print(type(k))

<class 'pandas.core.frame.DataFrame'>